.roulette {
  display: flex;
  margin: auto;
  width: 400px;
  height: 400px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible;
  * {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__ligth-ring {
    background-image: url("./assets/roulette__lights-ring.png");
  }

  &__bg {
    z-index: 11;
    width: 100%;
    height: 100%;
    background-image: url("./assets/roll__bg.png");
  }

  &__items {
    z-index: 10;
    width: 78%;
    height: 78%;
    background-image: url("./assets/roulette.png");
  }

  &__light {
    width: 92%;
    height: 92%;
    z-index: 12;
    animation: rotate 1s linear infinite;
    background-image: url("./assets/roulette__light.png");
  }

  &__spinner {
    width: 25%;
    height: 25%;
    z-index: 12;
    background-image: url("./assets/roulette__spinner.png");
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__spinner-label {
    cursor: pointer;
    width: 70%;
    height: calc(70% / 2.71);
    z-index: 13;
    background-image: url("./assets/roulette__spin-label.png");
    background-size: contain;
    &--animate {
      animation: zoom-spin 1s linear infinite;
    }
  }

  @keyframes zoom-spin {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
}
