.game {
  background: url("./assets/background.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  &__game-area {
    color: $white-color;
  }

  &__header {
    font-size: 25px;
    text-align: center;
  }

  &__subheader {
    font-size: 16px;
    margin: 20px 0px;
    text-align: center;
    opacity: 0.8;
  }
}

.before-game {
  &__start-btn {
    color: $white-color;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    min-width: 130px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba($color: #ffffff, $alpha: 0.2);
    cursor: pointer;
  }

  &__start-btn-icon {
    height: 28px;
    margin-right: 16px;
    animation: rotate 4s linear infinite;
  }
}
