.catalog {
  width: 100%;
  padding: 16px;
  &__loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  &__loader {
    display: inline-block;
    width: 64px;
    height: 64px;
  }

  &__loader:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid $base-color;
    border-color: $base-color transparent $base-color transparent;
    animation: rotate 1.2s linear infinite;
  }

  &__items-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__show-more-btn-wrapper {
    text-align: center;
    padding: 20px 0px;
  }
}

.catalog__item {
  width: 30%;
  padding: 20px 16px;
}
