.categories-item {
  cursor: pointer;
  font-weight: 300;
  padding: 5px 10px;
  padding-left: 15px;
  user-select: none;
  &--active {
    font-weight: 700;
  }
  &__label {
    width: 100%;
    cursor: pointer;
  }
  &__child-list {
    display: none;
  }
  &__checkbox:checked + .categories-item__child-list {
    display: block;
  }
}
