.catalog-item {
  &__preview {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
  }

  &__title {
    text-align: center;
    margin: 16px 0px;
  }

  &__price {
    text-align: center;
  }
}
