.categories {
  font-size: 16px;
  line-height: 2rem;
  max-height: 100vh;
  width: 350px;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: scroll;
  &__select-category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__title {
    padding-left: 15px;
  }
}
