@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto";
}

* {
  margin: 0px;
  padding: 0px;
}

.btn {
  padding: 15px;
  min-width: 200px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: 0px;
  text-decoration: none;
  outline: none;
  &:focus {
    outline: none;
    text-decoration: none;
  }
  &:active {
    outline: none;
    text-decoration: none;
  }
  margin: auto;
  margin-top: 40px;
  background-color: $btn-color;
  color: $black-color;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}
/* Реакт-транзишены и кейфреймы для css-анимаций*/

.vertical-slide-enter {
  transform: translateY(100%);
}

.vertical-slide-enter.vertical-slide-enter-active {
  transform: translateY(0%);
  transition: transform 0.3s ease-in;
}

.fade-appear {
  opacity: 1;
}

.fade-appear.fade-appear-active {
  opacity: 0.1;
  transition: opacity 2s ease-in;
}

.fade-enter {
  opacity: 0.1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// https://codepen.io/thetallweeks/pen/yybGra
.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
