.game-results {
  z-index: 17;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  &__results {
  }

  &__points {
    font-weight: 300;
    font-size: 22px;
    color: $white-color;
    text-align: center;
    line-height: 3rem;
  }

  &__points-count {
    font-weight: 700;
    font-size: 42px;
  }

  &__close-btn {
    z-index: 18;
    position: absolute;
    right: 50px;
    top: 50px;
    color: $white-color;
    font-weight: 700;
    font-size: 32px;
    cursor: pointer;
  }
}
